img{
	width: 20%;
	display: block;
	margin: auto;
	border-radius: 2em;
}

div{
	margin-bottom: 50px;
	border: 1px dashed black;
	height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow:hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
	float: right;
	display: block;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: #fff;
}